{% extends 'base.html' %}

{% block title %}
	報表
{% endblock %}
{% block content %}

        <h1 class="mb-4">個人總表</h1>
        <div class="row">
        {% for username, details in results.items %}
            <div class="col-md-4 mt-4">
                <div class="card-header">
                    <h2>{{ username }}</h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>主項</th>
                                <th>Bonus</th>
                                <th>Time(分)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in details %}
                                <tr>
                                    <td>{{ detail.major }}</td>
                                    <td>{{ detail.total_bonus }}</td>
                                    <td>{{ detail.total_time }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tr>
                            {% if request.user.is_superuser  %}
                            {% for d in total_data %}
                                {% if d.user__username == username  %}
                            <td>
                            </td>
                            <td>{{ d.total_bonus }}</td>
                            <td>{{ d.total_time }}</td>{% endif %}
                            {% endfor %}
                          {% else %}
                            <td>

                            </td>
                            <td>{{ total_data.total_bonus }}</td>
                            <td>{{ total_data.total_time }} </td>
                          {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}
