{% extends 'base.html' %}
{% block title %}
	報表
{% endblock %}
{% block content %}
        <div class="container mt-4">
        <h1 class="mb-4">
        <div class="card-header">總表</div>
        </h1>
        <div class="row">
          <table class="table">
           <thead>
                            <tr>
                                <th>主項</th>
                                <th>Bonus</th>
                                <th>Time(分)</th>
                            </tr>
                        </thead>
          <tbody>
           {% for items in datas %}
               <tr><td>{{ items.detail__sub_item__major__item }} </td>
                   <td>{{items.total_bonus}} </td>

                   <td>{{items.total_time  }}</td>
                </tr>
           {% endfor %}


          </tbody>

        </table>
        </div>
        </div>
{% endblock %}