{% extends 'base.html' %}
{%  block title %}
    工時大富翁
{% endblock %}

{% block content %}
<div class="container">
    <div class="horizontal_down">
      <div class="empty_horizontal  grid-container" >
        <div class="grid-item box timer">00:50</div>
        <div class="grid-item box timer">00:40</div>
        <div class="grid-item box timer">00:30</div>
        <div class="grid-item box timer">00:20</div>
        <div class="grid-item box timer">00:10</div>
        <div class="grid-item box timer">00:00</div>
      </div>
      <div class="empty_horizontal  grid-container" >
        <div class="grid-item box timer">23:50</div>
        <div class="grid-item box timer">23:40</div>
        <div class="grid-item box timer">23:30</div>
        <div class="grid-item box timer">23:20</div>
        <div class="grid-item box timer">23:10</div>
        <div class="grid-item box timer">23:00</div>

      </div>
      <div class="empty_horizontal  grid-container" >
        <div class="grid-item box timer">22:50</div>
        <div class="grid-item box timer">22:40</div>
        <div class="grid-item box timer">22:30</div>
        <div class="grid-item box timer">22:20</div>
        <div class="grid-item box timer">22:10</div>
        <div class="grid-item box timer">22:00</div>

      </div>

      <div class="empty_horizontal  grid-container" >
        <div class="grid-item box timer">21:50</div>
        <div class="grid-item box timer">21:40</div>
        <div class="grid-item box timer">21:30</div>
        <div class="grid-item box timer">21:20</div>
        <div class="grid-item box timer">21:10</div>
        <div class="grid-item box timer">21:00</div>
      </div>
      <div class="empty_horizontal  grid-container" >
        <div class="grid-item box timer">20:50</div>
        <div class="grid-item box timer">20:40</div>
        <div class="grid-item box timer">20:30</div>
        <div class="grid-item box timer">20:20</div>
        <div class="grid-item box timer">20:10</div>
        <div class="grid-item box timer">20:00</div>

      </div>
    </div>
    <!--右邊橫的 -->
    <div class="vertical_right">
      <div class="empty grid-container" >
        <div class="grid-item box timer">13:00</div>
        <div class="grid-item box timer">13:10</div>
        <div class="grid-item box timer">13:20</div>
        <div class="grid-item box timer">13:30</div>
        <div class="grid-item box timer">13:40</div>
        <div class="grid-item box timer">13:50</div>
      </div>
      <div class="empty grid-container" >
        <div class="grid-item box timer">14:00</div>
        <div class="grid-item box timer">14:10</div>
        <div class="grid-item box timer">14:20</div>
        <div class="grid-item box timer">14:30</div>
        <div class="grid-item box timer">14:40</div>
        <div class="grid-item box timer">14:50</div>
      </div>

      <div class="empty grid-container" >
        <div class="grid-item box timer">15:00</div>
        <div class="grid-item box timer">15:10</div>
        <div class="grid-item box timer">15:20</div>
        <div class="grid-item box timer">15:30</div>
        <div class="grid-item box timer">15:40</div>
        <div class="grid-item box timer">15:50</div>
      </div>
      <div class="empty grid-container" >
        <div class="grid-item box timer">16:00</div>
        <div class="grid-item box timer">16:10</div>
        <div class="grid-item box timer">16:20</div>
        <div class="grid-item box timer">16:30</div>
        <div class="grid-item box timer">16:40</div>
        <div class="grid-item box timer">16:50</div>
      </div>
      <div class="empty grid-container" >
        <div class="grid-item box timer">17:00</div>
        <div class="grid-item box timer">17:10</div>
        <div class="grid-item box timer">17:20</div>
        <div class="grid-item box timer">17:30</div>
        <div class="grid-item box timer">17:40</div>
        <div class="grid-item box timer">17:50</div>
      </div>

      <div class="empty grid-container" >
        <div class="grid-item box timer">18:00</div>
        <div class="grid-item box timer">18:10</div>
        <div class="grid-item box timer">18:20</div>
        <div class="grid-item box timer">18:30</div>
        <div class="grid-item box timer">18:40</div>
        <div class="grid-item box timer">18:50</div>
      </div>
      <div class="empty grid-container" >
        <div class="grid-item box timer">19:00</div>
        <div class="grid-item box timer">19:10</div>
        <div class="grid-item box timer">19:20</div>
        <div class="grid-item box timer">19:30</div>
        <div class="grid-item box timer">19:40</div>
        <div class="grid-item box timer">19:50</div>
      </div>

    </div>


    <div class="horizontal_up">

      <div class="empty_horizontal grid-container" >
        <div class="grid-item box timer">8:00</div>
        <div class="grid-item box timer">8:10</div>
        <div class="grid-item box timer">8:20</div>
        <div class="grid-item box timer">8:30</div>
        <div class="grid-item box timer">8:40</div>
        <div class="grid-item box timer">8:50</div>

      </div>

      <div class="empty_horizontal grid-container" >
        <div class="grid-item box timer">9:00</div>
        <div class="grid-item box timer">9:10</div>
        <div class="grid-item box timer">9:20</div>
        <div class="grid-item box timer">9:30</div>
        <div class="grid-item box timer">9:40</div>
        <div class="grid-item box timer">9:50</div>
      </div>

      <div class="empty_horizontal grid-container" >
        <div class="grid-item box timer">10:00</div>
        <div class="grid-item box timer">10:10</div>
        <div class="grid-item box timer">10:20</div>
        <div class="grid-item box timer">10:30</div>
        <div class="grid-item box timer">10:40</div>
        <div class="grid-item box timer">10:50</div>
     </div>

     <div class="empty_horizontal grid-container" >
      <div class="grid-item box timer">11:00</div>
      <div class="grid-item box timer">11:10</div>
      <div class="grid-item box timer">11:20</div>
      <div class="grid-item box timer">11:30</div>
      <div class="grid-item box timer">11:40</div>
      <div class="grid-item box timer">11:50</div>

    </div>
    <div class="empty_horizontal grid-container" >
      <div class="grid-item box timer">12:00</div>
      <div class="grid-item box timer">12:10</div>
      <div class="grid-item box timer">12:20</div>
      <div class="grid-item box timer">12:30</div>
      <div class="grid-item box timer">12:40</div>
      <div class="grid-item box timer">12:50</div>

    </div>
    </div>
    <div class="vertical_left">
      <div class="empty  grid-container" >
        <div class="grid-item box timer">7:50</div>
        <div class="grid-item box timer">7:40</div>
        <div class="grid-item box timer">7:30</div>
        <div class="grid-item box timer">7:20</div>
        <div class="grid-item box timer">7:10</div>
        <div class="grid-item box timer">7:00</div>
      </div>
      <div class="empty  grid-container" >
        <div class="grid-item box timer">6:50</div>
        <div class="grid-item box timer">6:40</div>
        <div class="grid-item box timer">6:30</div>
        <div class="grid-item box timer">6:20</div>
        <div class="grid-item box timer">6:10</div>
        <div class="grid-item box timer">6:00</div>
      </div>
      <div class="empty  grid-container" >
        <div class="grid-item box timer">5:50</div>
        <div class="grid-item box timer">5:40</div>
        <div class="grid-item box timer">5:30</div>
        <div class="grid-item box timer">5:20</div>
        <div class="grid-item box timer">5:10</div>
        <div class="grid-item box timer">5:00</div>
      </div>
      <div class="empty  grid-container" >
        <div class="grid-item box timer">4:50</div>
        <div class="grid-item box timer">4:40</div>
        <div class="grid-item box timer">4:30</div>
        <div class="grid-item box timer">4:20</div>
        <div class="grid-item box timer">4:10</div>
        <div class="grid-item box timer">4:00</div>
      </div>
      <div class="empty  grid-container" >
        <div class="grid-item box timer">3:50</div>
        <div class="grid-item box timer">3:40</div>
        <div class="grid-item box timer">3:30</div>
        <div class="grid-item box timer">3:20</div>
        <div class="grid-item box timer">3:10</div>
        <div class="grid-item box timer">3:00</div>
      </div>
      <div class="empty  grid-container" >
        <div class="grid-item box timer">2:50</div>
        <div class="grid-item box timer">2:40</div>
        <div class="grid-item box timer">2:30</div>
        <div class="grid-item box timer">2:20</div>
        <div class="grid-item box timer">2:10</div>
        <div class="grid-item box timer">2:00</div>
      </div>

      <div class="empty  grid-container" >
        <div class="grid-item box timer">1:50</div>
        <div class="grid-item box timer">1:40</div>
        <div class="grid-item box timer">1:30</div>
        <div class="grid-item box timer">1:20</div>
        <div class="grid-item box timer">1:10</div>
        <div class="grid-item box timer">1:00</div>
      </div>
    </div>
    </div>
    <div class="info">
      <div  class="m-1 btn btn-light btn-outline-primary"
      >{{request.user}}</div>
    <div class="container mt-4">
        <div class="card mb-4">
                <div class="card-body">
      <div id='report'>


      </div>
                </div></div></div>


    </div>

    <div class="workspace">

      <div id='start-time'></div>
      <!--主選項-->
      <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
         {%for btn in major%}
          <button  class="m-1 btn btn-light btn-outline-primary"
                   value={{btn.id}}
                   onClick="load_subitem(this.value);">{{btn.item}}</button>
        {% endfor %}
        </ul>
      </nav>
      <!--次選項-->
      <nav class="navbar navbar-expand-sm bg-light navbar-dark" id='subitem'>
        <ul class="navbar-nav">

        </ul>
      </nav>
      <!--明細-->
      <nav class="navbar navbar-expand-sm bg-light navbar-dark" id='detail'>
        <ul class="navbar-nav">

        </ul>
      </nav>

<!--明細-->
    <nav class="navbar navbar-expand-sm bg-light navbar-dark" id='record'>
      <ul class="navbar-nav">

      </ul>
    </nav>

    <div id='workRecordForm'>
      <form method='post'>
        {% csrf_token %}
        <label for="bonus">bonus</label>
        <input type="text" value="0" name="bonus" id="bonus"  class="form-control"><br>

        心情：
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mood1" value="-2">
          <label class="form-check-label" for="mood1">-2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mood2" value="-1">
          <label class="form-check-label" for="mood2">-1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mood3" value="1" checked="checked">
          <label class="form-check-label" for="mood3">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mood4" value="2">
          <label class="form-check-label" for="mood4">2</label>
        </div>

      </form>
      <button class="m-1 btn btn-light btn-outline-primary" onClick='save()'>登錄</button>
    </div>


  </div>


  {% load static %}
  <script type="text/javascript" src="{% static 'jobs.js' %}"></script>
  <script>
  function toTime(timeString){
        const today = new Date();
        const [hours, minutes] = timeString.split(':');
        return new Date(
            today.getFullYear(),
            today.getMonth(),
            today.getDate(),
            hours, minutes
        );
    }

  const userData = "{{ request.user.id }}"; // 将User值包含在JavaScript中
  const datas = [
          {% for data in datas %}{
              start_time: "{{ data.start_time }}",
              end_time: "{{ data.end_time }}",
              }
              {% if not forloop.last %},{% endif %}

          {% endfor %}
  ];
  datas.forEach(function(data) {
      const firstClick = toTime(data.start_time);
      const secondClick = toTime(data.end_time);

      $('.grid-item').each(function (){
                const itemTime = toTime($(this).text())
                console.log(itemTime)
                if (itemTime >= firstClick && itemTime <= secondClick) {
                    $(this).css('background-color', 'yellow');
                }
            })


});




    // 将User传递给jobs.js中的函数
    $(document).ready(function () {
        loadJobs(userData);
        inform(userData);
    });


</script>

{% endblock %}
